* {
    font-family: 'Roboto', sans-serif;
}

#connectionBadge {
    /* display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%; */
}

#connectionBadge .card-img-top {
    padding: 20px 10px;
    background: red;
}

#connectionBadge[online='true'] .card-img-top {
    background: green;
}

#kung_fury {
    display: inline-block;
    width: 100%;
}